body{
    background-color: aqua;
}

#title {
    color:purple;
}
.hour{
    color: blue;   
}
 
p{
font-size: 36px;
text-align: center;
}
.hourTitle{
    font-weight:bold;
}
img{
    height: 200px;
    width: 500px;
    align-items: center;
    
}